{% extends 'base2.html' %}
{% block title %}
   Student management System
{% endblock  %}
{% block body %}
<div class="blog-section">
   <h1>STUDENT MANAGEMENT SYSTEM</h1>
   <div class="blog-cards">
      <div class="blog-card">
         <div class="blog-image">
            <img src="student-icon.jpg" alt="">
         </div>
         <div class="blog-content">
            <h2>Admin Login</h2>
            <a href="http://127.0.0.1:5000/adminlogin">LOGIN</a>
         </div>
      </div>
      <div class="blog-card">
         <div class="blog-image">
            
         </div>
         <div class="blog-content">
            <h2>Student Login</h2>
            <a href="http://127.0.0.1:5000/studentlogin">LOGIN</a>
         </div>
      </div>
   </div>
</div>

{% endblock %}